@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Light.eot');
    src: url('../fonts/Hind-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Light.woff2') format('woff2'),
        url('../fonts/Hind-Light.woff') format('woff'),
        url('../fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Bold.eot');
    src: url('../fonts/Hind-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Bold.woff2') format('woff2'),
        url('../fonts/Hind-Bold.woff') format('woff'),
        url('../fonts/Hind-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Regular.eot');
    src: url('../fonts/Hind-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Regular.woff2') format('woff2'),
        url('../fonts/Hind-Regular.woff') format('woff'),
        url('../fonts/Hind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('../fonts/Hind-Medium.eot');
    src: url('../fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Medium.woff2') format('woff2'),
        url('../fonts/Hind-Medium.woff') format('woff'),
        url('../fonts/Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('../fonts/Quattrocento-Bold.eot');
    src: url('../fonts/Quattrocento-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quattrocento-Bold.woff2') format('woff2'),
        url('../fonts/Quattrocento-Bold.woff') format('woff'),
        url('../fonts/Quattrocento-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('../fonts/Quattrocento-eot');
    src: url('../fonts/Quattrocento-eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quattrocento-woff2') format('woff2'),
        url('../fonts/Quattrocento-woff') format('woff'),
        url('../fonts/Quattrocento-ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

