@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9meonr');
  src:  url('../fonts/icomoon.eot?9meonr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9meonr') format('truetype'),
    url('../fonts/icomoon.woff?9meonr') format('woff'),
    url('../fonts/icomoon.svg?9meonr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e900";
}

.icon-mail:before {
  content: "\e901";
  color: #d14836;
}

.icon-facebook:before {
  content: "\e902";
  color: #3b5998;
}

.icon-telegram:before {
  content: "\e904";
  color: #2ca5e0;
}

.icon-viber:before {
  content: "\e905";
  color: #665cac;
}
