@import 'normalize';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Hind';

}

.wrapper {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* HEADER */

header {
  padding-top: 30px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  height: 80px;
  font-family: 'Quattrocento';
  font-weight: normal;
  font-style: normal;
  color: #845007;
  position: relative;

  .hexagon {
    height: 60px;
    width: 50px;
    background: #000;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: absolute;
    transition: all .3s;

  }

  .hexagon-above {
    background: rgba(228, 199, 159, 1);
    top: -15px;
    left: 25px;
    z-index: 1;

  }

  .hexagon-center {
    background: rgba(131, 79, 7, 0.6);
    z-index: 3;
  }

  .hexagon-below {
    background: rgba(200, 174, 151, 0.6);
    top: 15px;
    left: 25px;
    z-index: 2;

  }

  .logo-s {
    position: absolute;
    font-size: 60px;
    top: 0;
    left: 60px;
    z-index: 4;
  }

  .logo-f {
    color: #e8dbca;
    position: absolute;
    font-size: 60px;
    top: 15px;
    left: 85px;
    z-index: 4;

  }
}

.nav {
  padding-right: 100px;
  
  ul {
    display: flex;
    
  }
  
  a {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    color: #c9af98;
    padding-left: 20px;
    position: relative;

    &:hover {
      color: #e8dbca;

      &::before {
        content: '|';
        color: #e8dbca;
        position: absolute;
        left: 12px;
        top: 5;
      }
    }
    
  }
}

/* MUSTHEAD */

.musthead {
  background: url(../images/header-bg.jpg) no-repeat 50% 30%;
  background-size: cover;
  height: 500px;
  margin-top: -110px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .profile {
    height: 200px;
    width: 500px;
    background: rgba(247, 243, 237, .7);
    position: relative;
  }

  .profile-img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 1px solid rgba(247, 243, 237, 1);
    position: absolute;
    top: -75px;
    left: 175px;
  }

  h1 {
    padding-top: 100px;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #845007;
  }

  p {
    padding-top: 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #ed8a63;

  }
}

/* ABOUT ME */

.about-me {
  height: 350px;
  background: rgba(200, 174, 151, 0.2);
  padding-top: 50px;

  .wrapper {
    display: flex;
  }

  
  .section-description {
    width: 80%;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    
  }
}

.section-title {
  width: 20%;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  color: #ed8a63;
  letter-spacing: 2px;
  }

.skills {
  height: 300px;
  background: rgba(200, 174, 151, 0.5);
  padding-top: 50px;

  .wrapper {
    display: flex;
  }
}

/* MY WORKS */

.last-works {
  background: rgba(200, 174, 151, 0.2);
  filter: brightness(90%);
  padding: 10px 0;
  
  h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    color: #ed8a63;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0 20px 0;

  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }
  .sample {
    background: url(../images/weather-app.png) no-repeat;
    background-size: cover;
    filter: brightness(90%);
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 10px 0;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
  
    &::before, &::after{
      content: 'DroneZone';
      position: absolute;
      top: 70%;
      right: 0;
      width: 105%;
      height: 30%;
        z-index: 1;
      background-color: rgba(131, 79, 7, 0.3);
      transition: all 0.5s;
      transform: translate(25%, 130%) rotate(-45deg);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    &::after{
        transition-delay: 0.1s;
    }

    &:hover {
      filter: brightness(100%);
    }

    &:hover::before, &:hover::after{
      transform: translate(0,0);	
    }
  }
}

.sample1 {
  background: url(../images/weather-app.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  margin: 10px 0;
  transition: all 0.5s;
  position: relative;
  z-index: 1;

  .sample-description {
    background: rgba(200, 174, 151, 1);
    height: 90px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 10px, 20px 10px, 40px 0, 60px 10px, 100% 10px, 100% 100%, 0 100%);
    display: none;
    z-index: 3;
  }

  .sample-shadow {
    height: 100%;
    width: 100%;
    background: rgba(131, 79, 7, 0.6);
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    display: none;
  }
}