<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="./images/SF-logo.png" alt="">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">about me</a></li>
                    <li><a href="">skills</a></li>
                    <li><a href="">projects</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="musthead">
        <div class="profile">
            <img class="profile-img" src="./images/rihanna.jpg" alt="">
            <h1>serhii filipchuk</h1>
            <p>front end developer</p>
        </div>
    </div>
    <div class="about-me">
        <div class="wrapper">
            <div class="section-title">
                | About me
            </div>
            <div class="section-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
            </div>
        </div>
    </div>
    <div class="skills">
        <div class="wrapper">
            <div class="section-title">
                | My skills
            </div>
            <div class="skills-description">

            </div>
        </div>
    </div>
    <div class="my-works">
        <h2>last works</h2>
        <div class="wrapper">
            <a href="#" class="sample"></a>
            <div class="sample"></div>
            <div class="sample"></div>
            <div class="sample"></div>
            <div class="sample"></div>
            <div class="sample"></div>
        </div>
    </div>

    @@include('./include/footer.html')
</body>
</html>