<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <div class="hexagon hexagon-above"></div>
                <div class="hexagon hexagon-center"></div>
                <div class="hexagon hexagon-below"></div>
                <div class="logo-s">S</div>
                <div class="logo-f">F</div>                        
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">about me</a></li>
                    <li><a href="">skills</a></li>
                    <li><a href="">projects</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="musthead">
        <div class="profile">
            <img class="profile-img" src="./images/rihanna.jpg" alt="">
            <h1>serhii filipchuk</h1>
            <p>front end developer</p>
        </div>
    </div>
    <div class="about-me">
        <div class="wrapper">
            <div class="section-title">
                | About me
            </div>
            <div class="section-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus debitis nisi quasi ipsa laudantium, dolorum culpa? Veritatis autem quae itaque asperiores aperiam, non animi nisi, eveniet reprehenderit, explicabo mollitia?
            </div>
        </div>
    </div>
    <div class="skills">
        <div class="wrapper">
            <div class="section-title">
                | My skills & expertise
            </div>
            <div class="skills-description">
                <div class="skill">
                    <div class="skill-name">HTML5</div>
                    <div class="skill-img"><img src="./images/HTML5-icon.png" alt=""></div>
                </div>
                <div class="skill">
                    <div class="skill-name">CSS/SASS</div>
                    <div class="skill-img">
                        <img class="css-icon" src="./images/css-icon.png" alt="">
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">JS (jQuery)</div>
                    <div class="skill-img">
                        <img class="css-icon" src="./images/js-icon.png" alt="">
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Bootstrap</div>
                    <div class="skill-img">
                        <img class="css-icon" src="./images/bootstrap-icon.png" alt="">
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">GitHub</div>
                    <div class="skill-img">
                        <img class="css-icon" src="./images/github-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-works">
        <div class="wrapper">
            <div class="section-title">
                | Last works
            </div>
            <div class="skills-description">
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>
                <a href="./photo-app.html" class="sample">
                    <div class="sample-description">
                        <p class="sample-name">PhotoApp landing page</p>
                        <p class="sample-note">(click for full version)</p>
                    </div>
                </a>  
            </div>
        </div>
    </div>
    @@include('./include/footer.html')
</body>
</html>