<footer>
    <div class="contact-me">
        <div class="wrapper">
            <div class="section-title">
                | Contact me
            </div>
            <div class="section-description">
                <div class="contact-info">
                    <div class="phone">
                        <span class="icon-mobile"></span>
                        <p>Contact number:
                            <br>
                            <a href="tel:+380673200435">+38 (067) 320-04-35</a>
                        </p>
                    </div>
                    <div class="email">
                        <span class="icon-mail"></span>
                        <p>Contact email:
                            <br>
                            <a href="mailto:filipchuck1695@gmail.com">filipchuck1695@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="social-media">
                    <p>Social media:</p>
                    <div class="media">
                        <a class="icon-facebook" href="https://www.facebook.com/serhiy.philipchuck"></a>
                        <a href="https://www.instagram.com/newsnowman13/"><img class="instagram-icon" src="./images/instagram-icon.svg" alt=""></a>
                        <a class="icon-telegram" href="https://t.me/ser_filio/">
                        <a href="tel:+380673200435"><img class="viber-icon" src="./images/viber-icon.svg" alt=""></a>
                    </div>
                    
                </div>


            </div>
        </div>
    </div>
</footer>